.Cards{
    border: 3px solid #0000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Cards .Footer{
    
    background-color: #000;
    color: #fff;
    padding: 5px 0px;
}

.Cards .Conteudo{
    flex: 1;
    background-color: #fff;
    color: #fff000;
    padding: 15px 0px;
}